<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> 爱范儿 · 让未来触手可及
  </title>
  <link rel='stylesheet' id='doge-style-css' href='https://images.ifanr.cn/wp-content/themes/ifanr-5.0-pc/static/dist/app-90bbaa4ca0.min.css?ver=4.9.8'
    type='text/css' media='all' />
  <script>
    USER = {};
    USER.SSO_URL_MYACCOUNT = 'https://sso.ifanr.com/myaccount/';
    USER.SSO_URL_LOGIN = 'https://sso.ifanr.com/embed/login/' + '?referer=' + location.origin;
    USER.SSO_URL_REGISTER = 'https://sso.ifanr.com/embed/login/#register' + '?referer=' + location.origin;
    USER.SSO_URL_LOGOUT = '';
    USER.SSO_USER_ACTIVITY = 'https://sso.ifanr.com/myactivity/';

    IFR = {};
    IFR.apiUrl = '/api/v3.0/';
    IFR.staticUrl = "https://images.ifanr.cn/wp-content/themes/ifanr-5.0-pc/static/"
    IFR.slideNum = 3;
    IFR.apiNonce = {
      appkey: 'lI5287M8UyxBI98U2YKq',
      timestamp: '1539256059',
      sign: 'c114a81b31228299f50a23827a268ff4'
    };
    IFR.ssoHost = 'https://sso.ifanr.com/';

  </script>
</head>

<body class="home blog">
  <div class="page-body">
    <div id="progress-bar">
      <div class="white"></div>
      <div class="red"></div>
    </div>
    @{% include '~components/sider_menu/index.njk' %}
    @{% block header %}@{% endblock %}
    @{% block content %}@{% endblock %}
    <div class="u-clearfix footer-content"></div>
    @{% include '~components/footer/index.njk' %}
    @{% include '~components/go_to_top/index.njk' %}
    
    <script type='text/javascript' src='https://images.ifanr.cn/wp-content/themes/ifanr-5.0-pc/static/dist/app-3994d723df.min.js?ver=4.9.8'></script>

  </div>
</body>
</html>