<!-- 页面顶部需要继承layout模版 -->
@{% extends '~layouts/basic_layouts.njk' %}

<!-- 页面主体部分为 block content -->
@{% block content %}
<div class="index-page">
<h2>index page</h2>
</div>
<a href="./article.html"></a>
@{% endblock %}